---
layout: layout
title: Get started
---

<p class="section-heading">Design system</p>
<h1>Get started</h1>

<nav class="govuk-previous-and-next-navigation">
<ul class="group">

  <li class="next-page">
    <a href="/v1/principles" rel="next">
      <span class="pagination-part-title">Next</span>
      <span class="pagination-label">Design principles</span>
    </a>
  </li>

</ul>
</nav>