---
title:		Images
section:	Visual styles
status:		Approved
department: All
description: Avoid unnecessary decoration - only use images if there’s a real user need.
---

Avoid unnecessary decoration - only use images if there’s a real user need.


If images are needed they should be landscape, 3:2 aspect ratio.

<% partial "/layouts/example" do %>
	<div class="grid-row">
	  <div class="column-one-half">
	    <img src="/images/3by2.jpg" alt="3:2">
	  </div>
	  <div class="column-one-half">
	    <img src="/images/larry-the-cat.jpg" alt="">
	  </div>
	</div>
<% end %>
