---
layout: v2-layout
title: GOV.UK Design principles
---

<p class="section-heading">Design system</p>
<h1>Introduction</h1>

<nav class="govuk-previous-and-next-navigation">
<ul class="group">

  <li class="next-page">
    <a href="/v2/principles" rel="next">
      <span class="pagination-part-title">Next</span>
      <span class="pagination-label">Principles</span>
    </a>
  </li>

</ul>
</nav>