---
layout: v2
title: Design patterns
---

<br>
<h1>Ministry of Justice design patterns</h1>

<p class="lede">The following patterns have been developed by Ministry of Justice for use in their services.</p>

## Components

* [Design pattern one](#)
* [Design pattern two](#)
* [Design pattern three](#)

## Pages

* [Design pattern one](#)
* [Design pattern two](#)
* [Design pattern three](#)

## Tasks

* [Design pattern one](#)
* [Design pattern two](#)
* [Design pattern three](#)

## Services

* [Design pattern one](#)
* [Design pattern two](#)
* [Design pattern three](#)