Every page in your service should have a page title.

Page titles help users understand where they are in your service

Page tiles should be formatted in the fillowing way:

[page title] - [section name] - [service name] - GOV.UK

The page title should mirror the `<h1>` of the page.

## Implementing a page title

page titles should be implemented in the `<head>` of the page in the following way.

```
<head>
  <title>[page title] - [section name] - [service name] - GOV.UK</title>
</head>
```
