---
title:		Alpha and beta banners
section:	Components
theme:		Content
status:		Approved
discuss:	https://designpatterns.hackpad.com/HpbaBjaYRSJ
department: All
aliases: phase banner, work in progress
---

## When to use these banners in your service

If your service is on the service.gov.uk subdomain you must have an alpha banner if it’s in alpha and a beta banner if it’s in beta.

Your banner must be directly under the black GOV.UK header and colour bar.

### Example

<% partial "/layouts/example" do %>
<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
<% end %>

## Creating alpha and beta banners

Use the GOV.UK Sass phase banner mixin – find this in the GOV.UK frontend toolkit [alpha-beta.scss](https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/design-patterns/_alpha-beta.scss) file.

### Adding a feedback link

You should use a ‘feedback’ link to collect on-page feedback about your service. This can open an email or take the user to a dedicated page or form. Whatever option you use, make sure that users don’t lose their place in the service and can return easily to the page they were on.
