---

layout: design_patterns_overview
productName: Design Patterns
title:	Pattern status
section: Overview

---

<h1>Pattern status</h1>

<h2>Backlog</h2>
<p>Vestibulum pellentesque dignissim semper. Proin fermentum felis non varius pulvinar. Aliquam efficitur, diam condimentum euismod sagittis, ex mi consequat enim, vel accumsan mi turpis sit amet enim.</p>

<h2>Alpha</h2>
<p>Phasellus eu erat vel leo ultricies iaculis. Fusce vulputate ipsum a eros pharetra accumsan. Maecenas varius eget sem eget pharetra. Vivamus convallis vel ante ac dignissim.</p>

<h2>Beta</h2>
<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin pellentesque lectus et consectetur scelerisque. Maecenas feugiat odio vitae dui malesuada feugiat quis blandit lectus.</p>

<h2>Approved</h2>
<p>Aliquam vulputate aliquam odio eu laoreet. Fusce lacinia auctor mauris quis auctor.</p>
