---
layout: dwp
---
<br>
<h1>Introduction</h1>

These patterns have been developed by DWP for use in it's services, and are designed to be used
in conjunction with the [GOV.UK design patterns](/v3/introduction).


<nav class="govuk-previous-and-next-navigation">
<ul class="group">

  <li class="next-page">
    <a href="/v3/DWP/get_started" rel="next">
      <span class="pagination-part-title">Next</span>
      <span class="pagination-label">Get started</span>
    </a>
  </li>

</ul>
</nav>