---
layout: v2
---
<br>
<h1>Get started</h1>

<p class="lede">
Design patterns are reusable solutions to common design problems.
Using them saves time and improves the consistency and quality of our services.
</p>

## Get the code

You can quickly build HTML prototypes using these patterns with the [GOV.UK Prototype Kit](#).

The code for these patterns is developed using our web framework, [GOV.UK Frontend](/v2/govuk_frontend).


## Get involved

If you work on government services we [welcome your contribution](/v2/contribution_guidelines/how_to_contribute).