---
layout: govuk_frontend
productName: Frontend
---

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge">The web framework for government services</h1>
        <p class="lede "> 
        Build responsive, accessible web interfaces for GOV.UK
        </p>

        <div class="button-container">
            <a class="button button-start" href="/register">
              Download v3.2
            </a>
        </div>

      </div>

    </div>
  </div>
</div>

<br>

<main id="content" role="main">

  <div class="grid-row">    
    <!--
      <div class="column-full">
        <h2 class="heading-large mb_5">Get started</h2>
      </div>
    -->

      <div class="column-one-half">

      <h2 class="heading-medium mt_20"><a href="#">Download and install</a></h2>
      <p>Installation instructions for Node, Ruby and others</p>

    </div>

    <div class="column-one-half">

      <h2 class="heading-medium mt_20"><a href="#">Documentation</a></h2>
      <p>Integrate GOV.UK Frontend into your project</p>
      
    </div>
  </div>

  <div class="grid-row">    
      <div class="column-one-half">

      <h2 class="heading-medium mt_20"><a href="../v2/introduction">Design patterns</a></h2>
      <p>See what GOV.UK Frontend can do</p>
      
    </div>
      <div class="column-one-half">

      <h2 class="heading-medium mt_20"><a href="#">Get involved</a></h2>
      <p>GOV.UK Frontend is open source. Help us improve it</p>
      
    </div>
  </div>
  


</main>