// CUSTOM STYLES


// Stats

.stats{
  @extend %contain-floats;
  margin: $gutter 0;
  padding: 30px 0;
  border-top: 1px solid $border-colour;
  border-bottom: 1px solid $border-colour;

  li{
    float: left;
    display: block;
    margin-right: 130px;

    span{
      text-align: center;
      display: block
    }
    .stat-name{
      font-size: 19px;
    }
    .stat-number{
      font-size: 42px;
      font-weight: bold;
    }
  }

}

// Patterns table

.patterns-table{
  th, td{
    font-size: 16px;
  }
}

// Discuss on Hackpad
.discuss{
  border-top: 3px solid $black;
  padding-top: $gutter;

  details {

    summary{
      font-weight: bold;
    }

    p{
      margin-top: 15px;
    }

    div{
      margin-top: $gutter;
      border-top: 1px solid $border-colour;
      background: $grey-4;

      margin-left: -32px;
      padding-right: 110px;
      padding-top: 30px;
      margin-right: -32px;
    }
  }
}

#navigation{
    margin-right: 15px;
}

.technical-documentation {
    max-width: none;
    margin-top: 18px; // Hack so the subheadings align nicely with the search box :-)
}

.service-toolkit-link{
  margin: 20px 0 -15px;
}

.nav-group{
  font-size: 19px;
  margin: 30px 15px 15px;
  color: $secondary-text-colour
}

.toc {
    padding: 15px;
}

.toc__list {

    a:link{
        padding-left: 11px;
        position: relative;
        padding-right: 60px;
    }

}

.toc__list a:visited {
    color: $link-colour;
}

.toc__list a:first-letter {

    text-transform: uppercase;

}

.toc__list li a,
.toc__list li li a{
    border-left: 4px solid transparent;
}

.toc__list .current-page a {
    background: $grey-4;
    border-left: 4px solid #005ea5;

      //Copy of pattern status
      &::after {
        position: absolute;
        right: 0;
        font-size: 12px;
        padding: 0 10px 0 3px;
        min-width: 56px;
        text-align: right;
        margin-top: 3px;
        letter-spacing: 1;
        color: $secondary-text-colour;
      }
}

.toc__list li li li {
    margin-left: 5px;

    a:link{
    	//padding: 4px 0;
    }
}

// Style nav according to pattern status
.toc__list 
  {

    li[class^="status-"] a::after {
        position: absolute;
        right: 0;
        font-size: 12px;
        padding: 0 10px 0 3px;
        min-width: 56px;
        text-align: right;
        margin-top: 3px;
        letter-spacing: 1;
        color: $secondary-text-colour;
    }

    .status-backlog a {

      &::after {
        content: "Backlog";
        // color: $secondary-text-colour;
        // border: 1px solid lighten($secondary-text-colour, 40%);
        
       }    
    }

    .status-alpha a {

      &::after {
        content: "Alpha";
        // color: $pink;
        // border: 1px solid lighten($pink, 40%);
        
       }
    }    

    .status-beta a {

      &::after {
        content: "Beta";
        // color: $orange;
        // border: 1px solid lighten($orange, 30%);
        
       }
    }


    .status-approved-by-gds a {

      &::after {
        content: "Approved";
        // color: $turquoise;
        // border: 1px solid lighten($turquoise, 40%);
        
       }
    }

}

.toc__list li li li:before{
	  content: "— ";
    float: left;
    font-size: 8px;
    margin-top: 12px;
    color: $link-colour;
    font-weight: bold;
    margin-right: 3px;
}

.toc__list > ul > li > .group-heading:link{
  color: $secondary-text-colour;
  font-weight: normal;
  font-size: 24px;
  margin-top: $gutter-half;
}

.toc__list > ul > li > .group-heading:visited{
  color: $secondary-text-colour;
}

.markdown{

    .section-heading{
        color: $secondary-text-colour;
        font-size: 24px;
        margin: 38px 0 0;
        &::first-letter{
            text-transform: uppercase;
        }     
    }

    .example{
        @extend %contain-floats;
        border: 1px solid $border-colour;
        margin: $gutter 0;
        padding: $gutter;
    }

    p.example-grid {
      width: 100%;
      max-width: none;
      background: url("/images/grid.png") 0 0 repeat;
      margin: 0;
      height: 30px;
      @include media(tablet) {
        height: 60px;
      }
      overflow: hidden;
      text-indent: -999em;
    }

    p, ul.list, ol.list, blockquote{
        max-width: 34em;
    }

    h1{
        @extend .heading-xlarge;
        margin-top: 0;
        border-top: 0;
        margin-bottom: $gutter;
        padding-top: 5px;
    }

    h1:first-letter{
        text-transform: uppercase;
    }

    h2{
        @extend .heading-medium;
    }

    h3{
        @extend .heading-small;
    }

    > ul{
        @extend .list;
        @extend .list-bullet;
    }

    .example + .highlight{
        margin-top: -31px;
    }

    .highlight{
        font-size: 16px;
    }

    blockquote {
      margin: 15px 0;
      border-left: 4px solid #dee0e2;
  }

}


// 3. Colour
// ==========================================================================

// Colour swatches
.swatch {
  width: 60px;
  height: 60px;
  @include border-radius(100%);
  @include media(mobile) {
    clear: both;
    float: left;
    margin-right: $gutter-half;
    margin-bottom: $gutter-half;
  }
  @include media(tablet) {
    margin: 0 auto $gutter-half auto;
  }
}

// Sass list for colour palette
$palette: (
  ("purple", $purple),
  ("mauve", $mauve),
  ("fuschia", $fuschia),
  ("pink", $pink),
  ("baby-pink", $baby-pink),
  ("red", $red),
  ("mellow-red", $mellow-red),
  ("orange", $orange),
  ("brown", $brown),
  ("yellow", $yellow),
  ("green", $green),
  ("grass-green", $grass-green),
  ("turquoise", $turquoise),
  ("light-blue", $light-blue),
  ("govuk-blue", $govuk-blue)
);

@mixin color-swatches {
  @each $color in $palette {
    $color-name: nth($color, 1);
    $color-var: nth($color, 2);
    .swatch-#{$color-name} {
      background-color: $color-var;
    }
  }
}

// Generate swatch classes for each colour in palette list
@include color-swatches;

.swatch-alpha {
  background-color: $alpha-colour;
}

.swatch-beta {
  background-color: $beta-colour;
}

.swatch-discovery {
  background-color: $discovery-colour;
}

.swatch-live {
  background-color: $live-colour;
}

.swatch-error {
  background-color: $error-colour;
}

.swatch-focus {
  background-color: $focus-colour;
}

.swatch-button-colour {
  background-color: $button-colour;
}

.swatch-black {
  background-color: $black;
}

.swatch-grey-1 {
  background-color: $grey-1;
}

.swatch-grey-2 {
  background-color: $grey-2;
}

.swatch-grey-3 {
  background-color: $grey-3;
}

.swatch-grey-4 {
  background-color: $grey-4;
}

.swatch-white {
  background-color: $white;
  border: 1px solid $grey-3;
}

.swatch-text-colour {
  background-color: $text-colour;
}

.swatch-text-secondary {
  background-color: $secondary-text-colour;
}

.swatch-page-colour {
  background-color: $page-colour;
  border: 1px solid $grey-3;
}

.swatch-button-colour {
  background-color: $button-colour;
}

.swatch-link-colour {
 background-color: $link-colour;
}

.swatch-link-colour-visited {
 background-color: $link-visited-colour;
}

.swatch-link-colour-hover {
 background-color: $link-hover-colour;
}

.swatch-border-colour {
  background-color: $border-colour;
}

.swatch-panel-colour {
  background-color: $panel-colour;
}

.swatch-highlight-colour {
  background-color: $highlight-colour;
}

// Colour swatch layout
.swatch-wrapper {
  @include media(tablet) {
    float: left;
    width: 20%;
    text-align: center;
  }

  .heading-small {
    margin-bottom: em(10);
  }

  ul {
    list-style-type: none;
    padding-bottom: $gutter-half;
    padding-left: 0;
    @include media(mobile) {
      min-height: 50px;
      padding-top: 10px;
    }
  }
  li {
    @include core-16;
  }
  b {
  font-weight: bold;
  text-transform: uppercase;
  }
}

.govuk-previous-and-next-navigation{
  @extend %contain-floats;
  border-top: 1px solid $border-colour;
  padding: $gutter-half 0 $gutter;
}

.page-next{
  a{
    font-weight: bold;
  }
  a:first-letter{
    text-transform: uppercase;
  }
}

.site-search{
  float: right;
  margin-top: 1px;

  .submit{
    margin-left: -4px;
    height: 36px;
    width: 36px;
    border: 1px solid #005ea5;
    border-width: 0 0 0 1px;
    border-left-color: #222;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #005ea5;
    background-image: url("/images/search-button.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  #site-search-text{
    padding: 5px 6px 6px 15px;
    border: none;
    width: 235px;
  }

  #site-search-text::-webkit-input-placeholder{
    color: $text-colour;
    font-size: 16px;
  }
}

.pattern-search{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 39px;

  .submit{
    display: none;
    margin-left: -4px;
    height: 36px;
    width: 36px;
    border: 1px solid #005ea5;
    border-width: 0 0 0 1px;
    border-left-color: #222;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #005ea5;
    background-image: url("/images/search-button.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  #pattern-search-text{
    padding: 5px 5px 6px 15px;
    width: 100%;
    border: 2px solid #0b0c0c;
    
    &:focus{
      outline: 3px solid #ffbf47;
      outline-offset: 0;
    }
  }

  #pattern-search-text::-webkit-input-placeholder{
    color: $text-colour;
    font-size: 16px;
  }
}


.service-toolkit{

  .product-name{
    font-weight: 400;
    font-size: 24px;
    white-space: nowrap;
  }

  .section-header {
    margin: $gutter 0 $gutter/2 0;
    color: $grey-1;
    font-size: em(19);
    border-bottom: 1px solid $grey-2;
    padding-bottom: 5px;
  }

  .page-header__context {
      font-family: "nta", Arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 24px;
      line-height: 1.25;
      color: #6f777b;
      margin-bottom: em(10);
      padding-bottom: .167em;

      @media screen and (max-width: 640px) {
        font-size: 18px;
        line-height: 1.2;
      }
  }

}


.inline-thirds{
  display: inline-block;
  width: 24.5%;
}


.link-back{
  margin-left: 15px;
}

.technical-documentation .status-and-actions{
  //padding-left: 0;
  li{
    list-style-type: none;
    a{
      font-weight: bold;
    }
  }
}


// Replicating Govuk Metadata

.govuk-metadata {
    @extend %contain-floats;
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom: $gutter;


    dl {
      dt{
        float: left;
        clear: left;
        width: auto;
        min-width: 130px;
        padding-right: 10px;
      }
      dd {
        float: left;
        width: 55%;
      }
    }
}

// Status on h1 

h1 {
  position:relative;

  span.status {
    position: absolute;
    font-size: 15px;
    margin-left: $gutter-half;
    margin-top: 12px;
    color: $white;
    font-weight: bold;
    background-color: $govuk-blue;
    padding: 6px 8px 5px 8px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
   
  }
}