
<h3 class="nav-group">Documentation</h3>

<ul>
  <li<% if (current_page.path == "frontend/docs/index.html") %> class="current-page"<% end %>>
    <a href="/frontend/docs/">Overview</a>
  </li>
  <li<% if (current_page.path == "frontend/docs/node.html") %> class="current-page"<% end %>>
    <a href="/frontend/docs/node.html">Node instructions</a>
  </li>
  <li<% if (current_page.path == "frontend/docs/rails.html") %> class="current-page"<% end %>>
    <a href="/frontend/docs/rails.html">Rails instructions</a>
  </li>
  <li<% if (current_page.path == "frontend/docs/template_blocks.html") %> class="current-page"<% end %>>
    <a href="/frontend/docs/template_blocks.html">Template blocks</a>
  </li>
</ul>
