<ul>
    <li>
      <a href="/frontend/">
        About
      </a>
    </li>

    <li class="active">
      <a href="/frontend/docs/">
        Documentation
      </a>
    </li>

    <li>
      <a href="#">
        Contribute
      </a>
    </li>

    <li>
      <a href="#">
        Support
      </a>
    </li>
</ul>
