---
layout: design_pattern_list
productName: Design Patterns
sectionNav: patterns
filter: Alpha
---

<% content_for :status_description do %>

<p>These patterns are being actively developed by a team, but may not be complete or fully researched yet.</p>

<p>We encourage you to try these patterns in your service and give feedback or suggest improvements to the owner.</p>

<p>You will not be assessed against your use of these patterns.</p>

<% end %>