---
layout: design_pattern_list
productName: Design Patterns
sectionNav: patterns
filter: Approved
---

<% content_for :status_description do %>

<p>Approved patterns have been tested thoroughly and are working sucesfully in multiple services.</p>

<p>If your service is undergoing a live or beta assessment you will be expected to follow the guidance in these patterns.</p>

<% end %>
