---
layout: design_pattern_list
productName: Design Patterns
sectionNav: patterns
filter: Backlog
---

<% content_for :status_description do %>

<p>Backlog patterns are ones for which there’s a broad user need but that no-one is actively working on yet.</p>

<p>We encourage you to discuss these patterns and, if you’re able to, start developing them.</p>

<% end %>