---

layout: design_patterns_overview
productName: Design Patterns
title:	Blog
section: About

---



<div class="column-constrained">

<h1>Blog</h1>

<p class="lede">We regualarly write about what we’re working on at <a href="https://designnotes.blog.gov.uk">designnotes.blog.gov.uk</a>.</p>

<article class="blog__list-item">
 <h2><a href="#">We’re building a Design System</a></h2>
 <p class="blog__list-author"><a href="#">First Lastname</a> and <a href="#">Firstname Last</a> - 5th October 2017</p>
 <p class="blog__list-snippet">Suspendisse potenti. Etiam ac lectus tincidunt, consequat lacus ac, accumsan justo. Aenean tristique enim dui, a molestie lorem venenatis at. Morbi vitae eros tellus.</p>
</article>

<article class="blog__list-item">
 <h2><a href="#">Categories in the GOV.UK Design System</a></h2>
 <p class="blog__list-author"><a href="#">Firstname Last-name</a> - 10th October 2017</p>
 <p class="blog__list-snippet">The content in the Design System will range from the visual style of GOV.UK, such as colour palettes, all the way up to guidance on checking a user’s eligibility for a government service.</p>
</article>

<article class="blog__list-item">
 <h2><a href="#">Design System standards</a></h2>
 <p class="blog__list-author"><a href="#">First Last</a> - 12th October 2017</p>
 <p class="blog__list-snippet">Sed at augue in mauris venenatis tincidunt vel interdum metus. Phasellus molestie tincidunt ligula ac malesuada. Aliquam tristique nisl eu bibendum tincidunt.</p>
</article>

</div>