---
layout: design_patterns_overview
productName: Design Patterns
sectionNav: patterns
section: About
title: About the Design System
---

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="" style="padding-top: 15px;">About GOV.UK Design System</h1>
    
    <p>The GOV.UK Design System contains <a href="styles/colour/">styles</a>, <a href="components/alpha_and_beta_banners/">components</a>, <a href="pages/check_your_answers_pages/">page templates</a> and <a href="tasks/additional%20information/">patterns</a> to help you design government services.</p> 

    <p>Use these resources to:</p>
    <ul>
      <li>make your service consistent with other government services</li>
      <li>learn from the research and experience of other service teams</li>
      <li>avoid repeating work that’s already been done</li>
    </ul>

<!--     <p>Coded examples are ready to use in your prototypes or production services with <a href="/prototype-kit">GOV.UK Prototype Kit</a> and <a href="/frontend">GOV.UK Frontend</a>
 -->
  </div>  

      

  <div class="column-full">    

    <h2 class="">Suggested resources</h2>

    <div class="grid-row tile-wrapper">
      <div class="column-one-third tile__grid">
          <div class="tile">
            <h2><a href="styles/typography/">Typography</a></h2>
            <p class="tile__section-link">Part of: <a href="styles/colour">Visual styles</a></p>
            <a href="styles/typography/" class="image-link"><img src="/images/tile-typography.jpg" alt="Example of Typography"></a>
            <a class="tile__link" href="styles/typography/"></a>
          </div>
      </div>
      <div class="column-one-third tile__grid">
          <div class="tile">
            <h2><a href="pages/confirmation_pages/">Confirmation page</a></h2>
            <p class="tile__section-link">Part of: <a href="pages/check_your_answers_pages/">Pages</a></p>
            <a href="pages/confirmation_pages/" class="image-link"><img src="/images/tile-confirmationpage.jpg" alt="Example of Confirmation page"></a>
            <a class="tile__link" href="pages/confirmation_pages/"></a>
          </div>
      </div>
      <div class="column-one-third tile__grid">
          <div class="tile">
            <h2><a href="components/addresses/">Form elements</a></h2>
            <p class="tile__section-link">Part of: <a href="components/alpha_and_beta_banners/">Components</a></p>
            <a href="components/addresses/" class="image-link"><img src="/images/tile-radiobuttons.jpg" alt="Example of Radio Buttons"></a>
            <a class="tile__link" href="components/addresses/"></a>
          </div>
      </div>

      <div class="column-one-third tile__grid">
          <div class="tile">
            <h2><a href="tasks/check_before_you_start/">Check before you start</a></h2>
            <p class="tile__section-link">Part of: <a href="tasks/check_before_you_start/">Pages</a></p>
            <a href="tasks/check_before_you_start/" class="image-link"><img src="/images/tile-checkbeforeyoustart.jpg" alt="Example of Check before you start"></a>
            <a class="tile__link" href="tasks/check_before_you_start/"></a>
          </div>
      </div>
      <div class="column-one-third tile__grid">
          <div class="tile">
            <h2><a href="styles/layout">Layout</a></h2>
            <p class="tile__section-link">Part of: <a href="styles/colour">Visual styles</a></p>
            <a href="styles/layout" class="image-link"><img src="/images/tile-gridsystem.jpg" alt="Example of Layout page"></a>
            <a class="tile__link" href="styles/layout"></a>
          </div>
      </div>
      <div class="column-one-third tile__grid">
          <div class="tile">
            <h2><a href="tasks/naming_your_service/">Naming your service</a></h2>
            <p class="tile__section-link">Part of: <a href="tasks/naming_your_service/">Patterns</a></p>
            <a href="tasks/naming_your_service/" class="image-link"><img src="/images/tile-namingyourservice.jpg" alt="Example of Radio Buttons"></a>
            <a class="tile__link" href="tasks/naming_your_service/"></a>
          </div>
      </div>
    </div>


  </div>



  <div class="column-two-thirds">


      <p>The GOV.UK Design System is supported by a full time team at the Government Digital Service. You can <a href="overview/support/support.html">contact the team</a> if you have any questions or need support. You can also:</p>

      <ul>
        <li><a href="overview/statistics/">see a full list of styles, components, page templates and patterns</a></li>
        <li><a href="overview/statistics/">check our backlog to see what we’re working on next</a></li>
      </ul>  

    
      <!-- <h2 class="">GOV.UK Design Community</h2>
      <p>All design and code is open source and has been developed by service teams across government.</p>

      <ul class="list list-no-bullet">
        <li><a href="/design-patterns/community">Develop and submit your own patterns</a></li>
        <li><a href="/design-patterns/backlog">Check our backlog to see what we’re working on next</a></li>
      </ul>
   
   
      <h2 class="heading-medium content-section__first-heading">The team</h2>
      <p>GOV.UK Design System is built and supported by a full time team at the Government Digital Service.</p>

      <ul class="list list-no-bullet">
        <li><a href="/design-patterns/support">Contact the team</a></li>
        <li><a href="/design-patterns/statistics">View pattern statistics</a></li>
      </ul>   -->
      
    
</div>
</div>