---
layout: design_patterns_overview
productName: Design Patterns
sectionNav: patterns
section: Overview
title: About
---

<div class="grid-row">
<div class="column-two-thirds">
  <h1 class="heading-large_library">Patterns and styles for designing government services</h1>
      
    
      <h2 class="">All the styles and templates you’ll need</h2>
      <p>From <a href="styles/colour/">colour palettes</a> and <a href="styles/typography/">typography</a> to <a href="styles/forms/">form elements</a>, <a href="components/accordions/">components</a> and <a href="pages/blank_page/">full page templates</a>.</p>
    


    
      <h2 class="">Ready to use in your prototypes and services</h2>
      <p>All patterns come with coded examples, ready to use in your prototypes or production services with these tools:</p>

      <ul class="list">
        <li><a href="/prototype-kit">GOV.UK Prototype Kit</a></li>
        <li><a href="/frontend">GOV.UK Frontend</a></li>
      </ul>
   
 
    
      <h2 class="">Community driven</h2>
      <p>All design and code is open source and has been developed by service teams across government.</p>

      <ul class="list list-no-bullet">
        <li><a href="/design-patterns/community">Develop and submit your own patterns</a></li>
        <li><a href="/design-patterns/backlog">Check our backlog to see what we're working on next</a></li>
      </ul>
   

   
      <h2 class="heading-medium content-section__first-heading">Fully supported</h2>
      <p>GOV.UK Design Patterns is built and supported by a full time team at the Government Digital Service.</p>

      <ul class="list list-no-bullet">
        <li><a href="/design-patterns/support">Contact the team</a></li>
        <li><a href="/design-patterns/statistics">View pattern statistics</a></li>
      </ul>  
      
    
</div>
</div>