---
layout: design_patterns_home
productName: Design Patterns
sectionNav: patterns
section: About
title: About the Design System
---


<div class="grid-row">

  <div class="column-full">    
  <section>
    <div class="grid-row">

      <div class="column-full column-constrained">
        
          <div class="grid-row">

            <div class="column-one-third">
              <h2 style="" class="heading-large">Styles</h2>
              <p>The core styles that will make your service look and feel like GOV.UK.  This includes <a href="/design-patterns/patterns/styles/colour/">Colour</a>, <a href="/design-patterns/patterns/styles/typography/">Typography</a> and <a href="/design-patterns/patterns/styles/layout/">Layout</a>.</p>
            </div>

            <div class="column-one-third">
              <h2 class="heading-large">Components</h2>
              <p>Re-usable parts of the user interface. From small form elements like <a href="/design-patterns/patterns/components/form-elements/radio-buttons/">Radio buttons</a> to larger ones such as <a href="/design-patterns/patterns/components/form-elements/autocomplete/">Autocomplete</a>.</p>
            </div>

            <div class="column-one-third">
              <h2 class="heading-large">Patterns</h2>
              <p>Best practice guidance and design solutions for specific user tasks and scenarios.</p>
            </div>          
          </div>
        </div>
      
    </div> 
    </section>

    <section>
    <div class="grid-row">
      <div class="column-full column-constrained">

        <h2 style="" class="heading-large">Overview</h2>

        <p>Mauris tincidunt et est at tincidunt. In lacinia nibh sit amet ligula euismod placerat. Integer mollis, nisi vel eleifend elementum, orci lacus condimentum risus, eget feugiat felis eros sit amet augue. Donec ultrices, tellus aliquet venenatis tempus, ligula justo vestibulum elit, iaculis suscipit quam tellus sit amet ex. Sed eu condimentum neque, at tempus velit. Nunc dolor nunc, laoreet eu turpis eget, bibendum accumsan felis. Pellentesque ut lacinia purus. Vestibulum velit enim, dapibus at consectetur quis, lobortis eu lorem. Integer tellus elit, tincidunt eget nisi sed, suscipit dignissim magna. Donec a metus eget justo tempus vehicula. Pellentesque laoreet tortor at nisl porta hendrerit.</p>

      </div>   
    </div>
    </section>

    <section>
    <div class="grid-row">
      <div class="column-full column-constrained">

        <h2 style="" class="heading-large">Get in touch</h2>

       <p>If you’ve got a question, idea or suggestion:</p>
        <ul class="list list-bullet">
          <li>share it in <%= link_to '#govuk-design-system', slack_link %> on cross-government Slack (<%= link_to 'open in app', slack_app_link %>)</li>
          <li><a href="#">email the Design System team</a></li>
          <li><%= link_to 'raise an issue on GitHub', issues_link %></li>
        </ul>

      </div>   
    </div>
    </section>    

   <!--  <section>
    <div class="grid-row">
      <div class="column-full column-constrained">

        <h2 style="" class="heading-large">Styles</h2>

         <p>The core styles that will make your service look and feel like GOV.UK.  This includes <a href="/design-patterns/patterns/styles/colour/">Colour</a>, <a href="/design-patterns/patterns/styles/typography/">Typography</a> and <a href="/design-patterns/patterns/styles/layout/">Layout</a>.</p>

      </div>   
    </div>
    </section>

    <section>
    <div class="grid-row">
      <div class="column-full column-constrained">

        <h2 style="" class="heading-large">Components</h2>

          <p>Re-usable parts of the user interface. From small form elements like <a href="/design-patterns/patterns/components/form-elements/radio-buttons/">Radio buttons</a> to larger ones such as <a href="/design-patterns/patterns/components/form-elements/autocomplete/">Autocomplete</a>.</p>

      </div>   
    </div>
    </section>

    <section>
    <div class="grid-row">
      <div class="column-full column-constrained">

        <h2 style="" class="heading-large">Patterns</h2>

         <p>Best practice guidance and design solutions for specific user tasks and scenarios.</p>

      </div>   
    </div>
    </section>
 -->


   <!--  <section>
    <div class="grid-row">
      <div class="column-full column-constrained">

        <h2 style="" class="heading-large">The team and cross-government panel</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in pellentesque mi. Nullam tincidunt mi justo, malesuada cursus est sollicitudin vitae. Duis ac luctus diam, nec tincidunt purus. Quisque ligula arcu, euismod sit amet aliquam et, aliquet at ex. Nullam ullamcorper molestie dolor non sollicitudin.</p>

        <p>Integer fringilla ornare metus, et scelerisque nibh porttitor sit amet. Mauris in augue egestas, tincidunt urna id, accumsan lorem. Fusce ac neque molestie, vehicula leo eu, accumsan lacus. </p>

      </div>   
    </div>
    </section>


    <section>
    <div class="grid-row">
      <div class="column-full column-constrained">

        <h2 style="" class="heading-large">Contribute</h2>

        <p>This collection of components and patterns has been developed by the government design community. There are lots of ways that you can get involved.</p>
        
        <p>If you’d like to make a suggestion, submit research or amend an existing component or pattern you can use the “Edit this page” link at the bottom of each page.</p>

        <p>If you’d like to contribute an entire component or pattern please read the <a href="patterns/contribute.html">contribute</a> page and get in touch.</p>

      </div>   
    </div>
    </section>
 -->

  </div> <!-- Col Full -->

</div> <!-- Row -->
