---
layout: design_patterns_overview
productName: Design Patterns
sectionNav: patterns
section: About
title: About the Design System
---


<div class="grid-row">

  <div class="column-full">    
  <section>
    <div class="grid-row"> <!-- Overview row -->

      <div class="column-full column-constrained">
        
        <h2 style="margin-bottom: 0;" class="stripe heading-large">Overview</h2>
        

          <div class="grid-row">

            <div class="column-one-third">
              <h3 style="font-size: 24px;" class="">Styles</h3>
              <p>Fusce venenatis scelerisque elementum. Praesent eget dapibus ante, id faucibus metus. Nulla facilisi. Pellentesque cursus tincidunt ex sed egestas.</p>
            </div>

            <div class="column-one-third">
              <h3 style="font-size: 24px;" class="">Components</h3>
              <p>Fusce venenatis scelerisque elementum. Praesent eget dapibus ante, id faucibus metus. Nulla facilisi. Pellentesque cursus tincidunt ex sed egestas. Donec ultrices mauris a pharetra viverra. Suspendisse ultrices, nisi at sollicitudin tempus. Nulla facilisi. Pellentesque cursus tincidunt ex sed egestas.</p>
            </div>

            <div class="column-one-third">
              <h3 style="font-size: 24px;" class="">Patterns</h3>
              <p>Fusce venenatis scelerisque elementum. Praesent eget dapibus ante, id faucibus metus. Nulla facilisi. Pellentesque cursus tincidunt ex sed egestas. Donec ultrices mauris a pharetra viverra. Suspendisse ultrices, nisi at sollicitudin tempus</p>
            </div>          
          </div>
        </div>
      
    </div> <!-- End Overview row -->
    </section>
    <section>
    <div class="grid-row">
      <div class="column-full column-constrained">

        <h2 style="" class="heading-large">The team and cross-government panel</h2>

        <p>The GOV.UK Design System is supported by a full time team at the Government Digital Service. You can <a href="overview/support/support.html">contact the team</a> if you have any questions or need support. <a href="overview/statistics/">check our backlog to see what we’re working on next</a>

      </div>   
    </div>
    </section>
  </div> <!-- Col Full -->

</div> <!-- Row -->