---

layout: design_patterns_overview
productName: Design Patterns
title:	Using GOV.UK Prototype kit
section: About

---


<div class="column-constrained">

<h1>Using with the GOV.UK Prototype kit</h1>

<p class="lede" style="margin-bottom: 30px;">The GOV.UK Prototype kit helps you rapidly create HTML prototypes of GOV.UK services</p>

<h2>Existing prototype kit users</h2>
<p>Providing you’re using the most recent version of the Prototype kit, the code snippets you see in the Design System will just work. This is because <a href="/design-patterns/patterns/using-govuk-frontend.html">GOV.UK Frontend</a> is already installed in Prototype kit.</p>

<h2>If you’ve never used the GOV.UK Prototype kit</h2> 

<p>Find out how to get up and running with the <a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype kit</a>. If you’re having any trouble, <a href="#">get in touch</a>.</p>

</div>