<% content_for :service_title do %>
  Design Patterns
<% end %>

<% content_for :service_link, '/design-patterns' %>

<% content_for :header_links do %>
  <%= partial 'layouts/design-patterns/header_links' %> 
<% end %>

<% content_for :subnav do %>
  <%= partial 'layouts/design-patterns/sub-nav' %>
<% end %>

<% wrap_layout :docs do %>




  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large_library">Design patterns for government services</h1>

      <section class="content-section ">
        <h3 class="">All the styles and templates you’ll need</h3>
        <p>From <a href="#">colour palettes</a> and <a href="#">typography</a> to <a href="#">form elements</a>, <a href="#">components</a> and <a href="#">full page templates</a>.</p>
      </section>

      <section class="content-section ">
        <h3 class="">Ready to use in your prototypes and services</h3>
        <p>All patterns come with coded examples, ready to use in your prototypes or production services with these tools:</p>

        <ul class="list">
          <li><a href="/prototype-kit">GOV.UK Prototype Kit</a></li>
          <li><a href="/frontend">GOV.UK Frontend</a></li>
        </ul>
      </section>

      <section class="content-section ">
        <h3 class="">Community driven</h3>
        <p>All design and code is open source and has been developed by service teams across government.</p>

        <p>
          <a href="/design-patterns/community">Develop and submit your own patterns</a>
        </p>

        <p>
          <a href="/design-patterns/backlog">Check our backlog to see what we're working on next</a>
        </p>
      </section>

      <section class="content-section ">
        <h3 class="heading-medium content-section__first-heading">Fully supported</h3>
        <p>GOV.UK Design Patterns is built and supported by a full time team at the Government Digital Service.</p>

        <p>
          <a href="/design-patterns/support">Contact the team</a>
        </p>
        <p>
          <a href="/design-patterns/statistics">View pattern statistics</a>
        </p>
      </section>

    </div>
  </div>


<% end %>
