---
layout: product_page
productName: Design System
---

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Design principles, patterns and tools for government services</h1>
        <!--
        <p class="lede "> 
        Design principles, patterns and code
        </p>-->
      </div>

    </div>
  </div>
</div>


<main id="content" role="main">


<!-- Principles -->
    <div class="grid-row">

        <div class="column-full">
          <h2 class="heading-large mb_5">Design principles</h2>
          <h3 class="page-header__context">Principles to follow as you design your service</h3>
        </div>

    </div>

    <div class="grid-row">

        <div class="column-one-half">
          <h4 class="heading-medium mt_20"><a href="/v1/design_principles/">Read our 10 design principles</a></h4>
        </div>

    </div>


  <hr class="mb_0">

<!-- Patterns -->
    <div class="grid-row">

        <div class="column-full">

          <h2 class="heading-large mb_5" id="">Design patterns</h2>
          <h3 class="page-header__context">Reusable patterns and code for common design problems</h3>

        </div>

    </div>


<div class="grid-row">
  <% data.v1nav.sections.each do |navSection| %>
  <div class="column-full">
    
    <% 

      navSectionTitle = navSection.name.tr('_', ' ') 
      navSectionTitle = navSectionTitle.capitalize!

    %>

    <% if defined?(navSection.pages) %>

      <h4 class="heading-medium mt_20"><%= navSectionTitle %></h4>

      <ul class="list">

      <% navSection.pages.each do |navPage| 

        navPageTitle = navPage.tr('_', ' ')
        navPageTitle = navPageTitle.capitalize!

      %>

      <li class="inline-thirds">
        <a href="/v1/<%= navSection.name %>/<%= navPage %>"><%= navPageTitle %></a>
      </li>

      <% end %>
      </ul>

    <% end %>
  </div>

  <% end %>
</div>

<!-- Principles -->
    <div class="grid-row">

        <div class="column-full">
          <h2 class="heading-large mb_5">Design community</h2>
          <h3 class="page-header__context">Community patterns</h3>
        </div>

    </div>

    <div class="grid-row">

        <div class="column-one-half">
          <h4 class="heading-medium mt_20"><a href="/v1/other_pattern_libraries/">Other pattern libraries</a></h4>
        </div>

        <div class="column-one-half">
          <h4 class="heading-medium mt_20"><a href="/v1/how_to_contribute/">How to contribute</a></h4>
        </div>

    </div>


  <hr class="mb_0">


</main>