---
layout: v9
title: Design patterns
---
<br>
<h1>Design community</h1>

## Contribution guidelines

* [How to contribute](how_to_contribute)
* [Submission criteria](submission_criteria)

## Other pattern libraries

<ul>
      <li>
        <a href="/v9/other_pattern_libraries/DWP">DWP</a>
      </li>


      <li>
        <a href="/v9/other_pattern_libraries/Home_Office">Home Office</a>
      </li>


      <li>
        <a href="/v9/other_pattern_libraries/HMRC">HMRC</a>
      </li>


      <li>
        <a href="/v9/other_pattern_libraries/Land_Registry">Land Registry</a>
      </li>


      <li>
        <a href="/v9/other_pattern_libraries/Ministry_of_Justice">Ministry of Justice</a>
      </li>


      <li>
        <a href="/v9/other_pattern_libraries/local_government">local government</a>
      </li>

      </ul>