<p class="lede">A design pattern is a guide on how to solve a common design problem.</p>

department: All
---

Make sure that your pattern includes all of the following information:


## Description

* a one line description of the pattern
* one or more example screenshots or html demos


## Design

* when to use this pattern
* when not to use this pattern
* how to use this pattern
* usability considerations
* accessibility considerations


## Implementation

* how to implement this pattern
* security and performance considerations
* validation


## Research

* what user needs this pattern meets
* research relating to this pattern


## Examples

* examples of this pattern in context
* services using this pattern