---
layout: v2
title: GOV.UK Design System
---


<%	# Swap underscores for spaces
	pageTitle = page.tr('_', ' ')
	sectionTitle = section.tr('_', ' ')

	puts pageTitle
%>

<p class="section-heading"><%= sectionTitle %></p>
<h1><%= pageTitle %></h1>

<%= partial '/documentation/' + section + '/' + page rescue nil %>

<%= partial('/layouts/pagination', :locals => { :nav => data.v2bnav, :version => "v2" }) %>


