---
layout: v4
section: design_principles
---

<%= partial '/documentation/design-principles' %>

<nav class="govuk-previous-and-next-navigation">
<ul class="group">

  <li class="next-page">
    <a href="/v4/design_patterns" rel="next">
      <span class="pagination-part-title">Next</span>
      <span class="pagination-label">Design patterns</span>
    </a>
  </li>

</ul>
</nav>