---
layout: v9_design_pattern_backlog
title:	Departmental design patterns
---

<p>
	These patterns are being developed by departments specifically for their services.
	If they prove to have value beyond their department they will be moved to the main collection.
</p>
