<div class="grid-row">

  <div class="column-two-thirds">

    <div class="govuk-metadata">
      <dl>
          <dt>Status:</dt>
          <dd><a href="status/guidance">Guidance</a></dd>
          <dt>By:</dt>
          <dd><a href="<%= "#{departmentLink}" %>"><%= "#{department}" %></a></dd>
          <dt>Live example:</dt>
          <dd><a href="<%= "#{exampleLink}" %>"><%= "#{example}" %></a></dd>
      </dl>
    </div>

  </div>

</div>