<div class="grid-row">

  <div class="column-two-thirds">

    <div class="govuk-metadata">
      <dl>
          <dt>Status:</dt>
          <dd><a href="../status/draft">Draft</a></dd>
          <dt>By:</dt>
          <dd><a href="<%= "#{departmentLink}" %>"><%= "#{department}" %></a></dd>
          <dt>Team:</dt>
          <dd><a href="<%= "#{teamLink}" %>"><%= "#{teamName}" %></a></dd>
      </dl>
    </div>

  </div>

</div>