<div class="grid-row">

  <div class="column-full">
    <hr>
  </div>

  <div class="column-two-thirds">

    <div class="govuk-metadata">
      <dl>
          <dt>In prototype kit:</dt>
          <dd><%= "#{prototypeKit}" %></dd>
          <dt>In GOV.UK Frontend:</dt>
          <dd><%= "#{govukFrontend}" %></dd>
          <dt>First submitted:</dt>
          <dd><%= "#{firstSubmitted}" %></dd>
          <dt>Last updated:</dt>
          <dd><%= "#{lastUpdated}" %></dd>
      </dl>
    </div>

  </div>

</div>
