---
layout: govuk_prototype_kit
productName: Prototype Kit
---

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-two-thirds">
        <p class="service-toolkit-link">Part of the <a href="/">Service Toolkit</a></p>
        <h1 class="heading-xlarge">Rapid HMTL protoyping <br>for  government services</h1>
        <p class="lede "> 
        The GOV.UK Prototype Kit is the fastest way to create prototypes of UK goverment services
        </p>

        <div class="button-container">
            <a class="button button-start" href="#">
              Download v3.2
            </a>
        </div>

      </div>

    </div>
  </div>
</div>

<br>

<main id="content" role="main">

  <div class="grid-row">    

    <div class="column-full">
      <h2 class="heading-medium">Designed for designers</h2>
    </div>

    <div class="column-one-half">
      <p>
        Start building HTML prototypes of GOV.UK services.
        the step by step instructions guide you through installation and use. 
      </p>
      <p>
        <a href="#">Read the documentation</a>
      </p>
    </div>

    <div class="column-one-half">
    </div>

  </div>

  <hr class="mb_0">

    <div class="grid-row">    

    <div class="column-full">
      <h2 class="heading-medium">Works with GOV.UK Design Patterns</h2>
    </div>

    <div class="column-one-half">
      <p>
        The Kit works with GOV.UK Design Patterns out of the box. Simply copy the Nunjucks template for the pattern you want to use into your prototypes.
      </p>
      <p>
        <a href="/v9/govuk_design_patterns">GOV.UK Design Patterns</a>
      </p>
    </div>

    <div class="column-one-half">
    </div>

  </div>

  <hr class="mb_0">

  <div class="grid-row">    

    <div class="column-full">
      <h2 class="heading-medium">Move seamlessly from prototype to production</h2>
    </div>

    <div class="column-one-half">
      <p>
        If your service uses GOV.UK Frontend your developers will be able to reuse your prototype code.
      </p>
      <p>
        <a href="/v9/govuk_frontend">GOV.UK Frontend</a>
      </p>
    </div>

    <div class="column-one-half">
    </div>

  </div>

  <hr class="mb_0">

  <div class="grid-row">    

    <div class="column-full">
      <h2 class="heading-medium">Community driven</h2>
    </div>

    <div class="column-one-half">
      <p>
        All code is open source and has been developed by service teams across government.
      </p>

      <p>
          <a href="#">Contribute to the GOV.UK Prototype Kit</a>
      </p>
    </div>

    <div class="column-one-half">
    </div>

  </div>

  <hr class="mb_0">

  <div class="grid-row">

    <div class="column-full">
      <h2 class="heading-medium">Fully supported</h2>
    </div>


    <div class="column-one-half">
      <p>
        The GOV.UK Prototype Kit is built and supported by a full time team at the Government Digital Service.
      </p>
      <p>
        <a href="#">Contact the team</a>
      </p>
    </div>

    <div class="column-one-half">

    </div>

  </div>
  


</main>
