---
layout: plain
productName: Design Patterns
sectionNav: support
---

<% content_for :service_title do %>
  Design Patterns
<% end %>

<% content_for :service_link, '/design-patterns' %>

<% content_for :header_links do %>
  <%= partial 'layouts/design-patterns/header_links' %> 
<% end %>

<div class="container" style="margin-top: 30px;">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="markdown">
        <h2 class="heading-large">Support</h2>
      </div>
    </div>
  </div>
</div>
