## Ask one question per page

Recovering from errors can be hard for users, especially if a page contains multiple errors.

Simplify forms by rewriting and where possible, splitting long forms across multiple pages - with each page asking a single question.

## Summarise errors at the top of the page

You must:

- show an error summary at the top of the page
- include a heading to alert the user to the error
- link to each of the problematic questions

### Error message and summary box

<% partial "/layouts/example" do %>
<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
    Message to alert the user to a problem goes here
  </h1>

  <p>
    Optional description of the errors and how to correct them
  </p>

  <ul class="error-summary-list">
    <li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
  </ul>

</div>

<h1 class="heading-large">
  Check your personal details
</h1>

<p>
  Look at your name, signature and other details.
</p>

<form>
  <div class="form-group error">
    <fieldset>

      <legend id="example-personal-details">

        <span class="form-label-bold">
          Are your personal details correct and up-to-date?
        </span>
        <span class="error-message">
          Error message about personal details goes here
        </span>

      </legend>

      <label class="block-label selection-button-radio" for="personal_details_yes">
        <input id="personal_details_yes" type="radio" name="personalDetails" value="Yes">
        Yes, my personal details are correct
      </label>

      <label class="block-label selection-button-radio" for="personal_details_no">
        <input id="personal_details_no" type="radio" name="personalDetails" value="No">
        No, some details are wrong or have changed
      </label>

    </fieldset>
  </div>

  <input class="button" type="submit" value="Continue">

</form>
<% end %>

The error summary must appear at the top of the page, so it is visible when the page is refreshed and is immediately read out by assistive technology.

## Highlight errors in forms

For each error:

- write a message that helps the user to understand why the error occurred and what to do about it
- put the message in the `<label>` or `<legend>` for the question, after the question text, in red
- use a red border to visually connect the message and the question it belongs to
- if the error relates to specific text fields within the question, give these a red border as well

For red, use the `$error-colour` Sass variable – find this in the GOV.UK frontend toolkit [colours.scss](https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss) file.

<% partial "/layouts/example" do %>
<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
    Message to alert the user to a problem goes here
  </h1>

  <p>
    Optional description of the errors and how to correct them
  </p>

  <ul class="error-summary-list">
    <li><a href="#example-full-name">Descriptive link to the question with an error</a></li>
    <li><a href="#example-ni-number">Descriptive link to the question with an error</a></li>
  </ul>

</div>

<h1 class="heading-large">
  Your personal details
</h1>

<div class="form-group error">

  <label for="example-full-name" id="error-full-name">

    <span class="form-label-bold">Full name</span>
    <span class="form-hint">As shown on your birth certificate or passport</span>
    <span class="error-message" id="error-message-full-name">Error message about full name goes here</span>

  </label>

  <input class="form-control" id="example-full-name" type="text" name="fullName" value="" aria-describedby="error-message-full-name">
</div>

<div class="form-group error">

  <label for="example-ni-number" id="error-ni-number">

    <span class="form-label-bold">National Insurance number</span>
    <span class="form-hint">
      It’s on your National Insurance card, benefit letter, payslip or P60.
      <br>
      For example, ‘QQ 12 34 56 C’.
    </span>
    <span class="error-message" id="error-message-ni-number">
      Error message about National Insurance number goes here
    </span>

  </label>

  <input class="form-control" id="example-ni-number" type="text" name="niNo" value="" aria-describedby="error-message-ni-number">

</div>

<input class="button" type="submit" value="Continue">
<% end %>
