---
layout: product_page
productName: Design Patterns
sectionNav: about
---
<% content_for :service_title do %>
  Design Patterns
<% end %>

<% content_for :service_link, '/design-patterns' %>

<% content_for :header_links do %>
  <%= partial 'layouts/design-patterns/header_links' %> 
<% end %>

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <p class="service-toolkit-link">Part of the <a href="/">Service Toolkit</a></p>
        <h1 class="hero__title">Design patterns for government services</h1>
        <p class="hero__description">
          Design usable content and services for GOV.UK
        </p>

        <a href="/design-patterns/patterns/styles/colour" role="button" class="hero-button">
          Browse the patterns
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section">
        <h2 class="heading-medium content-section__first-heading">All the styles and templates you'll need</h2>
        <p>From colour palettes and typography to form elements, components and full page templates.</p>

        <p>
          <a href="/design-patterns/patterns/styles/colour">Browse the patterns</a>
        </p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="heading-medium content-section__first-heading">Ready to use in your prototypes and services</h2>
        <p>All patterns come with coded examples, ready to use in your prototypes or production services with these tools:</p>

        <ul class="list">
          <li><a href="/prototype-kit">GOV.UK Prototype Kit</a></li>
          <li><a href="/frontend">GOV.UK Frontend</a></li>
        </ul>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="heading-medium content-section__first-heading">Community driven</h2>
        <p>All design and code is open source and has been developed by service teams across government.</p>

        <p>
          <a href="/design-patterns/community">Develop and submit your own patterns</a>
        </p>

        <p>
          <a href="/design-patterns/backlog">Check our backlog to see what we're working on next</a>
        </p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="heading-medium content-section__first-heading">Fully supported</h2>
        <p>GOV.UK Design Patterns is built and supported by a full time team at the Government Digital Service.</p>

        <p>
          <a href="/design-patterns/support">Contact the team</a>
        </p>
        <p>
          <a href="/design-patterns/statistics">View pattern statistics</a>
        </p>
      </section>

    </div>
  </div>
</div>
