---
layout: v9_design_pattern_backlog
title:	Design patterns backlog
---

<% 
pattern_root = "/v9/govuk_design_patterns/patterns/" 
%>

<p>Design patterns are prioritised according to user need and the team resources available.</p>

<h2>Priority patterns</h2>

<p>The patterns we're planning to work on next are:</p>

<ol class="list list-number">
	
<%

# Get all the pages that:
# 	have a defined section
# 	are in the 'patterns' folder
# 	have a status of 'Backlog'
# 	have a defined priority

# Sort them by priority

sitemap.resources													
	.select { |r| 													
		r.data.section && 										
		r.url.start_with?(pattern_root) && 		
		r.data.status == "Backlog" && 				
		r.data.priority 											
	}
	.sort_by { |r| r.data.priority }				
	.each do |res| 
%>	  
	<li><%= link_to res.data.title, res.url %></li>
<% end %>
</ol>


<h2>Non-priority patterns</h2>

<p>These are patterns for which we've identified a user need, but that we're not yet planning to work on:</p>

<ul>
  <%
	sitemap.resources
		.select { |r| 
			r.data.section && 
			r.url.start_with?(pattern_root) && 
			r.data.status == "Backlog" && 
			!r.data.priority 
		}
		.sort_by { |r| r.data.title }
		.each do |res| 
	%>  
	<li><%= link_to res.data.title, res.url %></li>
	<% end %>
</ul>
