---
layout: v4
---

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Design and build government services</h1>
        <p class="lede "> 
        All you need to design, build and run services that meet government standards.
        </p>
      </div>

    </div>
  </div>
</div>


<main id="content" role="main">

  <div class="grid-row">    
      <div class="column-full">
        <h2 class="heading-large mb_5">Standards</h2>
        <h3 class="page-header__context">Meet the standards for government services</h3>
      </div>

      <div class="column-one-half">

      <h2 class="heading-medium mt_20"><a href="https://www.gov.uk/service-manual/service-standard">The Digital Service Standard</a></h2>
      <p>Learn about the 18 point standard that government services must meet</p>

    </div>

    <div class="column-one-half">

      <h2 class="heading-medium mt_20"><a href="http://sm-15.herokuapp.com/">Service Manual</a></h2>
      <p>How to build a service that meets the standard: agile delivery, technology, user research, accessibility, training options and more</p>
      
    </div>
  </div>

  <div class="grid-row">  
      <div class="column-one-half">

      <h2 class="heading-medium mt_20"><a href="https://www.gov.uk/government/publications/technology-code-of-practice/technology-code-of-practice">Technology Code of Practice</a></h2>
      <p>Guidelines for designing, building or buying government technology</p>
      
    </div>
  </div>
  

<hr class="mb_0">



    <div class="grid-row">

        <div class="column-full">

          <h2 class="heading-large mb_5" id="">Design and style</h2>
          <h3 class="page-header__context">Resources for interface and content design</h3>

        </div>

    </div>

    <div class="grid-row">

        <div class="column-one-half">
          <h4 class="heading-medium mt_20"><a href="https://www.gov.uk/design-principles">Design principles</a></h4>
          <p>Principles to follow as you design your service</p>
        </div>

        <div class="column-one-half">
          <h3 class="heading-medium mt_20"><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns">Design patterns</a></h3>
          <p>Reusable code and standards to solve common design problems</p>
        </div>

    </div>


    <div class="grid-row">

        <div class="column-one-half">
          <h3 class="heading-medium mt_20"><a href="https://www.gov.uk/service-manual/design#working-with-frontend">Reusable frontend code</a></h3>
          <p>Build accessible, responsive web interfaces for government</p>
        </div>

        <div class="column-one-half">
          <h3 class="heading-medium mt_20"><a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype Kit</a></h3>
          <p>Make HTML prototypes for user research and service design</p>
        </div>

    </div>

    <div class="grid-row">

    <div class="column-one-half">
      <h3 class="heading-medium mt_20"><a href="https://www.gov.uk/guidance/style-guide">Style guide</a></h3>
      <p>Style, spelling and grammar conventions for GOV.UK</p>
    </div>


</div>   




<hr class="mb_0">


<!-- Products -->
    <div class="grid-row">

        <div class="column-full">
          <h2 class="heading-large mb_5" id="govuk-products">Components</h2>
          <h3 class="page-header__context">Technologies designed to help you build and run government services</h3>
        </div>

    </div>

    <div class="grid-row">

        <div class="column-one-half">
          <h3 class="heading-medium mt_20"><a href="/govuk-notify">GOV.UK Notify</a></h3>
          <p>Keep your users updated with emails, text messages and letters, cheaply and easily</p>
        </div>

        <div class="column-one-half">
          <h3 class="heading-medium mt_20"><a href="/govuk-pay">GOV.UK Pay</a></h3>
          <p>Take and process payments - a simple experience for users and easy integration for you</p>
        </div>

    </div>    


    <div class="grid-row">
        <div class="column-one-half">
          <h3 class="heading-medium mt_20"><a href="/govuk-verify">GOV.UK Verify</a></h3>
          <p>Let users prove their identity to you securely and conveniently</p>
        </div>

        <div class="column-one-half">
          <h4 class="heading-medium mt_20"><a href="/govuk-paas-2">GOV.UK Platform as a Service</a></h3>
          <p>Host your service on a government cloud platform without having to build and manage your own infrastructure</p>
        </div>
    </div>

    <div class="grid-row">

          <div class="column-one-half">
            <h3 class="heading-medium mt_20 mb_20"><a href="../govuk-registers.html">Registers</a></h3>
            <p>Get authoritative data sets your service can rely on</p>
          </div>

    </div>


<hr class="mb_0">


<div class="grid-row">
      <div class="column-full">
          <h2 class="heading-large mb_5" id="">Monitoring</h2>
          <h3 class="page-header__context">Get the data you need to improve your service</h3>
      </div>
</div>

<div class="grid-row">
      <div class="column-one-half">
        <h3 class="heading-medium mt_20"><a href="https://www.gov.uk/performance">Performance platform</a></h3>
        <p>Create a performance dashboard for your service</p>
      </div>
</div>

<hr class="mb_0">

<div class="grid-row">
      <div class="column-full">
          <h2 class="heading-large mb_5" id="">Buying</h2>
          <h3 class="page-header__context">Extra skills, people and technology to help build your service</h3>
      </div>
</div>

     <div class="grid-row">
        <div class="column-one-half">
              
          <h4 class="heading-medium mt_20"><a href="https://www.gov.uk/digital-marketplace">Digital Marketplace</a></h4>
          <p>Buy cloud technology and specialist services for digital projects</p>
    
        </div>
    </div>

</main>