---
layout: v9
title: Design patterns
---


<p class="lede">Browse and search our collection of 87 design patterns</p>


## Can't find what you're looking for?

[Here's what we're working on next](#)


## Still can't find what you're looking for?
