---
layout: v8
title: GOV.UK Design System
---


<%	# Swap underscores for spaces
	pageTitle = page.name.tr('_', ' ')
	sectionTitle = section.name.tr('_', ' ')
%>

<p class="section-heading"><%= sectionTitle %></p>
<h1><%= pageTitle %></h1>

<%= partial '/documentation/' + section.name + '/' + page.name + '/README' rescue partial '/documentation/proposal' %>

<%= partial('/documentation/meta-info', 

	:locals => { 	 
					:prototypeKit => "No",
					:govukFrontend => "No",
					:firstSubmitted => "15/06/2016",
					:lastUpdated => "28/02/2017"
}) %>

