---
layout: design_pattern
title: Design patterns
---

<br>
<h1>Land Registry design patterns</h1>

<p class="lede">The following patterns have been developed by Land Registry for use in their services.</p>

## Components

* [Design pattern one](#)
* [Design pattern two](#)
* [Design pattern three](#)

## Pages

* [Design pattern one](#)
* [Design pattern two](#)
* [Design pattern three](#)

## Tasks

* [Design pattern one](#)
* [Design pattern two](#)
* [Design pattern three](#)

## Services

* [Design pattern one](#)
* [Design pattern two](#)
* [Design pattern three](#)
