---

layout: blank

---

<h1 class="heading-medium">
  Are you 18 or over?
</h1>

<form>
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">Are you 18 or over?</legend>

      <p class="form-block">You must be 18 or over to transport goods in lorries and vans.</p>

      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>

    </fieldset>
  </div>
  <div class="form-group">
    <input class="button" type="submit" value="Continue">
  </div>  
</form>