---
layout: v1
---
<br>
<h1>Other pattern libraries</h1>

<p class="lede">These libraries have been created by departments for use in their services</p>

* [DWP design patterns](DWP)
* [Home Office design patterns](Home_Office)
* [HMRC design patterns](HMRC)
* [Land Registry design patterns](Land_Registry)
* [Ministry of Justice design patterns](Ministry_of_Justice)


Use of these patterns is not mandatory in order to pass a GDS service assessment, though individual departments may mandate their use. Check with the Head of Design in your.


<nav class="govuk-previous-and-next-navigation">
<ul class="group">

  <li class="next-page">
    <a href="/v1/how_to_contribute" rel="next">
      <span class="pagination-part-title">Next</span>
      <span class="pagination-label">How to contribute</span>
    </a>
  </li>

</ul>
</nav>