---
layout: product_page
productName: Service Toolkit
---

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Design and build government services</h1>
        <p class="lede "> 
        All you need to design, build and run services that meet government standards.
        </p>
      </div>

    </div>
  </div>
</div>


<main id="content" role="main">

  <div class="grid-row">    

    <div class="column-full">
      <h2 class="heading-large mb_5">Standards</h2>
      <h3 class="page-header__context">Meet the standards for government services</h3>
    </div>

    <div class="column-one-half">
      <h2 class="heading-medium mt_20"><a href="https://www.gov.uk/service-manual/service-standard">The Digital Service Standard</a></h2>
      <p>Learn about the 18 point standard that government services must meet</p>
    </div>

    <div class="column-one-half">
      <h2 class="heading-medium mt_20"><a href="https://www.gov.uk/government/publications/technology-code-of-practice/technology-code-of-practice">Technology Code of Practice</a></h2>
      <p>Guidelines for designing, building or buying government technology</p>
    </div>

  </div>

  <div class="grid-row"> 

    <div class="column-one-half">
      <h2 class="heading-medium mt_20"><a href="http://sm-15.herokuapp.com/">Service Manual</a></h2>
      <p>How to meet the Digital Service Standard. Guides on agile, user research, accessibility, technology and more</p>   
    </div> 

    <div class="column-one-half">
      <h4 class="heading-medium mt_20"><a href="#">Design Principles</a></h4>
      <p>10 principles to follow as you design your service</p>
    </div>

  </div>
  
  <hr class="mb_0">

  <div class="grid-row">

      <div class="column-full">
        <h2 class="heading-large mb_5" id="">Design</h2>
        <h3 class="page-header__context">Tools and guidance for designing government services</h3>
      </div>

  </div>

  <div class="grid-row">

      <div class="column-one-half">
        <h4 class="heading-medium mt_20"><a href="govuk_design_patterns">GOV.UK Design Patterns</a></h4>
        <p>Styles, components and templates for designing usable content and services</p>
      </div>

      <div class="column-one-half">
        <h4 class="heading-medium mt_20"><a href="govuk_prototype_kit">GOV.UK Prototype Kit</a></h4>
        <p>Quickly and easily prototype services using the GOV.UK Design Patterns</p>
      </div>

  </div>   

  <hr class="mb_0">

  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large mb_5" id="govuk-products">Development</h2>
      <h3 class="page-header__context">Products for building and running government services</h3>
    </div>
  </div>

  <div class="grid-row">

      <div class="column-one-half">
        <h3 class="heading-medium mt_20"><a href="govuk_frontend">GOV.UK Frontend</a></h3>
        <p>The web framework for building responsive, accessible government services</p>
      </div>

      <div class="column-one-half">
        <h3 class="heading-medium mt_20"><a href="/govuk-notify">GOV.UK Notify</a></h3>
        <p>Keep your users updated with emails, text messages and letters, cheaply and easily</p>
      </div>

  </div>    

  <div class="grid-row">

      <div class="column-one-half">
        <h3 class="heading-medium mt_20"><a href="/govuk-pay">GOV.UK Pay</a></h3>
        <p>Take and process payments - a simple experience for users and easy integration for you</p>
      </div>

      <div class="column-one-half">
        <h3 class="heading-medium mt_20"><a href="/govuk-verify">GOV.UK Verify</a></h3>
        <p>Let users prove their identity to you securely and conveniently</p>
      </div>

  </div>

  <hr class="mb_0">

  <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large mb_5" id="">Data and monitoring</h2>
            <h3 class="page-header__context">Get the data you need to improve your service</h3>
        </div>
  </div>

  <div class="grid-row">

      <div class="column-one-half">
        <h3 class="heading-medium mt_20 mb_20"><a href="../govuk-registers.html">Registers</a></h3>
        <p>Get authoritative data sets your service can rely on</p>
      </div>

      <div class="column-one-half">
        <h3 class="heading-medium mt_20"><a href="https://www.gov.uk/performance">Performance platform</a></h3>
        <p>Create a performance dashboard for your service</p>
      </div>

  </div>

  <hr class="mb_0">

  <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large mb_5" id="">Hosting</h2>
            <h3 class="page-header__context">Secure hosting solutions</h3>
        </div>
  </div>

  <div class="grid-row">

    <div class="column-one-half">
      <h4 class="heading-medium mt_20"><a href="/govuk-paas-2">GOV.UK Platform as a Service</a></h3>
      <p>Host your service on a government cloud platform without having to build and manage your own infrastructure</p>
    </div>

  </div>

  <hr class="mb_0">

  <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large mb_5" id="">Buying</h2>
            <h3 class="page-header__context">Extra skills, people and technology to help build your service</h3>
        </div>
  </div>

   <div class="grid-row">
      <div class="column-one-half">        
        <h4 class="heading-medium mt_20"><a href="https://www.gov.uk/digital-marketplace">Digital Marketplace</a></h4>
        <p>Buy cloud technology and specialist services for digital projects</p>
      </div>
  </div>

</main>