---
layout: product_page
productName: Design Patterns
---

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Design patterns for government services</h1>
        <p class="lede">
          Design usable, consistent content and services for GOV.UK
        </p>

        <div class="button-container">
            <a class="button button-start" href="/v8/design_patterns">
              Browse the patterns
            </a>
        </div>

      </div>

    </div>
  </div>
</div>

<br>

<main id="content" role="main">

  <div class="grid-row">    

      <div class="column-one-half">

      <h2 class="heading-medium mt_20"><a href="/v8/get_started">Get started</a></h2>
      <p>How to use these patterns in your services</p>

    </div>

    <div class="column-one-half">

      <h2 class="heading-medium mt_20"><a href="/v8/submit_a_pattern/how_to_submit_a_pattern/">Submit a pattern</a></h2>
      <p>Submit your own patterns to the collection</p>
      
    </div>
  </div>

</main>