---
layout: product_page
productName: Design Patterns
---

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Design patterns for government services</h1>
        <p class="lede">
          Design usable, consistent content and services for GOV.UK
        </p>

        <div class="button-container">
            <a class="button button-start" href="/v8/get_started">
              Get started
            </a>
        </div>

      </div>

    </div>
  </div>
</div>

<br>

<main id="content" role="main">

  <div class="grid-row">    
    <!--
      <div class="column-full">
        <h2 class="heading-large mb_5">Get started</h2>
      </div>
    -->

      <div class="column-one-half">

      <h2 class="heading-medium mt_20"><a href="/v8/get_started">The patterns</a></h2>
      <p>Browse the full collection of patterns</p>

    </div>

    <div class="column-one-half">

      <h2 class="heading-medium mt_20"><a href="/v8/contribution_guidelines/how_to_contribute">Get involved</a></h2>
      <p>Contribute your own patterns to the collection</p>
      
    </div>
  </div>

</main>