---
layout: govuk_design_patterns
productName: Design Patterns
---

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Design patterns for government services</h1>
        <p class="lede">
          Design usable content and services for GOV.UK
        </p>

        <div class="button-container">
            <a class="button button-start" href="/v8/styles/colour">
              Browse the patterns
            </a>
        </div>

      </div>

    </div>
  </div>
</div>

<br>

<main id="content" role="main">

  <div class="grid-row">    

    <div class="column-full">
      <h2 class="heading-medium">All the styles and templates you'll need</h2>
    </div>

    <div class="column-one-half">
      <p>
        From colour palettes and typography to form elements, components and full page templates.
      </p>
      <p>
        <a href="/v8/styles/colour">Browse the patterns</a>
      </p>
    </div>

    <div class="column-one-half">
    </div>

  </div>

  <hr class="mb_0">

  <div class="grid-row">    

    <div class="column-full">
      <h2 class="heading-medium">Ready to use in your prototypes and services</h2>
    </div>

    <div class="column-one-half">
      <p>
        All patterns come with coded examples, ready to use in your prototypes or production services with these tools:
      </p>
      <ul class="list">
        <li><a href="/v8/govuk_prototype_kit">GOV.UK Prototype Kit</a></li>
        <li><a href="/v8/govuk_frontend">GOV.UK Frontend</a></li>
      </ul>
    </div>

    <div class="column-one-half">
    </div>

  </div>

  <hr class="mb_0">

  <div class="grid-row">    

    <div class="column-full">
      <h2 class="heading-medium">Community driven</h2>
    </div>

    <div class="column-one-half">
      <p>
        All design and code is open source and has been developed by service teams across government.
      </p>

      <p>
          <a href="/v8/submit_a_pattern/how_to_submit_a_pattern">Develop and submit your own patterns</a>
      </p>
    </div>

    <div class="column-one-half">
    </div>

  </div>

  <hr class="mb_0">

  <div class="grid-row">

    <div class="column-full">
      <h2 class="heading-medium">Fully supported</h2>
    </div>


    <div class="column-one-half">
      <p>
        GOV.UK Design Patterns is built and supported by a full time team at the Government Digital Service.
      </p>
      <p>
        <a href="/v8/contact_the_team">Contact the team</a>
      </p>
    </div>

    <div class="column-one-half">

    </div>

  </div>

</main>