---
title:		Breadcrumbs
section:	Components
theme:		Navigation
status:		Approved
department: All
---

##Overview

Help users orientate themselves and navigate pages within a hierarchical structure.

<div class="example">

	<div class="breadcrumbs breadcrumbs--collapse">
	  <ol>

	    <li class="">
	        <a class="" aria-current="false" href="/">Home</a>
	    </li>

	    <li class="">
	        <a class="" aria-current="false" href="#">Level one</a>
	    </li>

	    <li class="breadcrumbs__parent">
	        <a class="" aria-current="false" href="#">Level two</a>
	    </li>

	    <li class="breadcrumbs__current-page">
	        <a class="" aria-current="page" href="#content">Level three (Current page)</a>
	    </li>
	  </ol>
	</div>

</div>

## When to use this component

Breadcrumbs are a form of navigation to convey the hierarchical relationship between pages, the analogy of parent > child > grand child is often used to describe this. 

They are used, not only as a form of navigation but for orientation. If a user was to arrive on a “child” page they should be able to understand where they currently are in the hierarchy of the website.

### When not to use this component

Breadcrumbs are not appropriate for use in a flat website structure or to convey progress. We recommend using [back button](/design-patterns/patterns/components/back_button/) links as part of a linear journey or transaction.

Their use should also be considered against other navigational devices on the page. Breadcrumbs will not be necessary where there is permanently visible navigation, such as a sidebar.

## How it works

<div class="panel panel-border-wide">
  <p>This is an <a href="/design-patterns/patterns/overview/pattern_status/#approved">approved pattern</a>.
  If it’s relevant to your service, you must use it as part of meeting the Digital
  Service Standard.</p>
</div>

### Standard example

Your breadcrumb should include the user’s current page, however it should be visually different from the other links within the breadcrumb.

<% partial "/layouts/example" do %>
<div class="breadcrumbs">
  <ol>

    <li class="">
        <a class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="">
        <a class="" aria-current="false" href="#">Level one</a>
    </li>

    <li class="">
        <a class="" aria-current="false" href="#">Level two</a>
    </li>

    <li class="breadcrumbs__current-page">
        <a class="" aria-current="page" href="#content">Level three (Current page)</a>
    </li>
  </ol></div><% end %>


### Mobile varient example (Alpha)

When displayed on a mobile some of the visual relationship between pages in the breadcrumb are lost due to content wrapping over multiple lines. It also pushes the main content further down the page.

This component has a CSS modifier to collapse the breadcrumb into a single link, similar to the [back button](/design-patterns/patterns/components/back_button/). 

This reveals the parent of the current page so the user can travel up through the hierarchy of the site or section.



<% partial "/layouts/example" do %>
<div class="breadcrumbs breadcrumbs--collapse">
  <ol>

    <li class="">
        <a class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="">
        <a class="" aria-current="false" href="#">Level one</a>
    </li>

    <li class="breadcrumbs__parent">
        <a class="" aria-current="false" href="#">Level two</a>
    </li>

    <li class="breadcrumbs__current-page">
        <a class="" aria-current="page" href="#content">Level three (Current page)</a>
    </li>
  </ol></div><% end %>

##Research on this component

Many iterations of this component have been tested across Gov.uk. Some observations from research are

- People do use breadcrumbs to navigate
- People have a strong mental model of how breadcrumbs work (they show how content is organised)
- There isn’t a common way to use them for orientation
- People used them to go home - when they feel they were too deep in the website
- Some users understood that they represent hierarchy of the content, although some expect breadcrumbs to show the path they have personally taken to reach that specific piece of content
- People used them to go back one step - hence often compared to a back button - allowing to navigate in a smaller section of the website
- Some people didn’t interact with them because they didn’t notice them and generally prefer to use the browser back button

Very little research has been done on the mobile presentation of this component.

## Related patterns
- [Back button](/design-patterns/patterns/components/back_button/)