<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="robots" content="noindex">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Example</title>

    <%= stylesheet_link_tag 'govuk-frontend', media: 'screen' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
