<ul>
  <li>
    <a href="/design-patterns">
      About
    </a>
  </li>

  <li class="active">
    <a href="/design-patterns/patterns/styles/colour">
      Patterns
    </a>
  </li>

  <li>
    <a href="/design-patterns/community">
      Contribute
    </a>
  </li>

  <li>
    <a href="/design-patterns/support">
      Support
    </a>
  </li>
</ul>
