<div class="grid-row masthead">

  <div class="column-one-quarter">

  </div>
  <div class="column-full column-constrained">

      <h1 class="hero__title"">Design solutions to help you make government services.</h1>
      
      <p class="hero__description">Use these resources to:</p>
      <ul class="list list-bullet">
        <li>make your service consistent with other government services</li>
        <li>learn from the research and experience of other service teams</li>
        <li>avoid repeating work that’s already been done</li>
      </ul>
  </div>
</div>

