<div class="grid-row masthead">

  <div class="column-one-quarter">

  </div>
  <div class="column-full column-constrained">

      <h1 class="hero__title"">Design your service using GOV.UK styles, components and patterns</h1>
      
      <p class="hero__description">Use this design system to make your service consistent with other government services. Learn from the research and experience of other service teams and avoid repeating work that’s already been done.</p>
<!--       <ul class="list list-bullet hero__description">
        <li>make your service consistent with other government services</li>
        <li>learn from the research and experience of other service teams</li>
        <li>avoid repeating work that’s already been done</li>
      </ul> -->
      

  </div>
</div>

