<nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">

  <ul class="pattern-nav">
  <%
    if section_uses_themes?(current_section)
      themes_for_section(current_section).each do |theme_slug, theme_title|
  %>
    <ul class="section">
      <li class="theme-heading"><%= theme_title %></li>
      <% patterns_in_theme(current_section, theme_slug).each do |pattern| %>
      <li<% if current_page.path == pattern.path %> class="current-page"<% end %>><%= link_to pattern.data.title, pattern.url %></li>
      <% end %>
    </ul>
  <% end %>
  <ul>

</nav>

<% else %>

<nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">

  <ul class="pattern-nav">
    <% patterns_in_section(current_section).each do |pattern| %>
      <li<% if current_page.path == pattern.path %> class="current-page"<% end %>><%= link_to pattern.data.title, pattern.url %></li>
    <% end %>
  <ul>

</nav>

<% end %>
