<% 
pattern_root = "/design-patterns/patterns/" 

# Filter out backlog patterns
# Group patterns into sections
patterns_in_section = sitemap.resources
  .select { |r| 
    r.data.section && 
    r.data.section == current_page.data.section &&
    r.url.start_with?(pattern_root)
  }

%>

<nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">

  <ul class="pattern-nav">
    <% patterns_in_section.each do |pattern| %>
      <li class="status-<%= pattern.data.status.downcase.tr(" ", "-") %>"><%= link_to pattern.data.title, pattern.url %></li>
    <% end %>
  <ul>

</nav>
