<% 
pattern_root = "/design-patterns/" 

# Filter out backlog patterns



# Group patterns into sections
patterns_in_section = sitemap.resources
  .select { |r| 
    r.data.section && 
    r.data.section == current_page.data.section &&
    r.url.start_with?(pattern_root) &&
    r.data.status != "Backlog" &&
    (r.data.department == "All" || r.data.department.nil?)
  }

%>

<nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">

  <ul class="pattern-nav">
    <% patterns_in_section.each do |pattern|
      classes = []
      classes << "status-#{pattern.data.status.downcase.tr(" ", "-")}" if pattern.data.has_key? 'status'
      classes << 'current-page' if current_page.path == pattern.path
    %>
      <li<% if classes.any? %> class="<%= classes.join(" ") %>"<% end %>><%= link_to pattern.data.title, pattern.url %></li>
    <% end %>
  <ul>

</nav>




