<%
pattern_root = "/design-patterns/patterns/" 
sections = ["Overview", "Styles", "Components", "Page templates", "User tasks", "Services"]

# Filter out backlog patterns
# Group patterns into sections
patterns_by_section = sitemap.resources
  .select { |r| 
    r.data.section && 
    r.data.status != "Backlog" &&
    r.url.start_with?(pattern_root)
  }
  .group_by { |r| r.data.section }
%>

<div class="sub-nav">
  <div class="pattern-search" id="search-typeahead"></div>

  <ul class="sub-nav-list">
      
    <% sections.each do |section| %>
      <li><a href="<%= patterns_by_section[section].first.url %>"<% if current_page.data.section == section %> class="is-active"<% end %>><%= section %></a></li>
    <% end %>
  </ul>
</div>
