<div class="sub-nav">
  <ul class="sub-nav-list">
    <li><%= link_to 'About', "/design-patterns/patterns", class: (current_section == nil ? 'is-active' : nil) %></li>
    <% sections.each do |slug, title| %>
      <li><%= link_to title, "/design-patterns/patterns/#{slug}", class: (current_section == slug ? 'is-active' : nil) %></li>
    <% end %>
  </ul>
</div>
