---
title:		Task list page
aliases:	To-do list, To do list, Checklist, Check list
section:	Pages
theme:		Single page
status:		Beta
priority:	1
department: All
discuss:	https://designpatterns.hackpad.com/Organising-long-tasks-qAPtTmL1GJm
---

## Overview

Help users plan their time by breaking down long transactions into a list of
manageable tasks.

![Example of a task list page](example.png)

See an [example task list page](https://govuk-prototype-kit.herokuapp.com/docs/examples/task-list-page)
in the GOV.UK prototyping kit.

## When to use this pattern

Only use a task list page for longer transactions involving multiple tasks that
users may need to complete over a number of sessions.

Before using one, try to simplify the transaction. If you're able to reduce the
number of tasks or steps involved, you may not need a task list page.

If you do need one, you must show it:

- at the start of the transaction
- after completing each task
- at the start of each returning session

## How it works

<div class="panel panel-border-wide">
  <p>This is a <a href="/design-patterns/patterns/overview/pattern_status/#beta">beta pattern</a>.
  that’s still being tested and may change. If you use it in your service, you can <a href="#hackpad">share your feedback on Hackpad</a>.</p>
</div>

Use task list pages to show users:
- the tasks involved in completing a transaction
- the order tasks should be completed in
- when tasks have been completed

### Show the status of a task

Whenever you show a task list page, make it clear to users which tasks they’ve
completed by labelling them ‘Completed’.

![Example clearly showing tasks as completed](completed.png)

###Group things into tasks

Group related activities and questions into tasks (for example, ‘Provide
financial evidence’ and ‘Give medical information’). This will help users
understand and plan what they need to do.

Where possible, task names should:

- describe what the task or activity will involve
- start with verbs (for example, ‘check’, ‘declare’, ‘report’)

### Group tasks into sections

If your transaction involves lots of tasks, make it more manageable by splitting
it into sections that represent stages in the process.

For example, you could group all tasks which help users find out if your service
is right for them in a section called ‘Check before you start’.

## Research on this pattern

Read a blog post about [testing and iterating this
pattern](https://govuk-design-system-prototypes.cloudapps.digital/design-patterns/patterns/pages/task_list_page/)

