---
title: GOV.UK Frontend
layout: product_page
productName: Frontend
---

<% content_for :service_title do %>
  Frontend
<% end %>

<% content_for :service_link, '/frontend' %>

<% content_for :header_links do %>
  <%= partial 'layouts/frontend/header_links' %> 
<% end %>

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <p class="service-toolkit-link">Part of the <a href="/">Service Toolkit</a></p>
        <h1 class="hero__title">The web framework for government services</h1>
        <p class="hero__description">
          Build responsive, accessible web interfaces for GOV.UK
        </p>
        <a href="#" role="button" class="hero-button">
          Download v3.2
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section">
        <h2 class="heading-medium content-section__first-heading">A single package</h2>
        <p>A single Node or Rails package containing everything you need to build web interfaces for GOV.UK.</p>

        <p>
          <a href="/frontend/docs">Read the documentation</a>
        </p>
      </section>
        
      <section class="content-section content-section--with-top-border">
        <h2 class="heading-medium content-section__first-heading">Nunjucks and Ruby templates</h2>
        <p>Many of our design patterns now come with templates that you can use with GOV.UK Frontend.</p>
        <p>
          <a href="/design-patterns">GOV.UK Design Patterns</a>
        </p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="heading-medium content-section__first-heading">Move seamlessly from design to production</h2>
        <p>GOV.UK Frontend is integrated into the GOV.UK Prototype Kit, so it's the
        quickest way to turn a prototype into production code.</p>
        <p>
          <a href="/prototype-kit">GOV.UK Prototype Kit</a>
        </p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="heading-medium content-section__first-heading">Community driven</h2>
        <p>All code is open source and has been developed by service teams across government.</p>

        <p>
          <a href="#">Contribute to GOV.UK Frontend</a>
        </p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="heading-medium content-section__first-heading">Fully supported</h2>
        <p>GOV.UK Frontend is built and supported by a full time team at the Government Digital Service.</p>
        <p>
          <a href="#">Contact the team</a>
        </p>
      </section>
    </div>
  </div>
</div>
