---
layout: v8
title: Design patterns
---
<br>
<h1>Design patterns</h1>

<nav class="govuk-previous-and-next-navigation">
<ul class="group">

  <li class="next-page">
    <a href="/v8/styles/identity" rel="next">
      <span class="pagination-part-title">Next</span>
      <span class="pagination-label">Identity</span>
    </a>
  </li>

</ul>
</nav>