<p class="lede">Use the template below to ensure that the guidance for your pattern includes all relevant information.</p>


## Description

* one line description
* example screenshot or embedded html


## Design

* when to use this pattern
* when not to use this pattern
* how to use this pattern
* usability considerations
* accessibility considerations


## Implementation

* how to implement this pattern
* security and performance considerations
* validation


## Research

* research relating to this pattern


## Examples

* examples of this pattern in context
* services using this pattern


##