<p class="lede">Help us make this collection of patterns more useful.</p>


## How to help

There are lots of ways in which you can contribute. Most of these involve raising issues or submitting pull requests on GitHub.

We review submissions to the global pattern library every fortnight. Individual departments manage their own libraries and may have different response times. All submissions are evaluated against our [submission criteria](submission_criteria), so make sure you've read these first.

Here's how you can help:


## Suggest a new pattern

If you can't find the pattern you're looking for in either the global or departmental pattern libraries, you can [suggest one here](#).


## Submit a new pattern

If you've developed a new pattern you can submit it to either your departmental or the global pattern library as a pull request.


## Improve an existing pattern

If you've discovered a way of improving an existing pattern you can suggest your improvement via the discussion page for that pattern. You can also submit improvements as a pull request on GitHub.


## Submit a feature requests or bug fix

If you'd like to suggest improvements or bug fixes to the pattern library itself you can [raise an issue](#) or [submit a pull request](#) on GitHub. 
