<p class="lede">All design patterns are evaluated against these criteria.</p>


## Guidance quality

The guidance for the pattern should follow the [writing style guide](#) and use the [design pattern page template](pattern_template).


## Code quality

If the pattern includes code then this must follow the [GOV.UK Frontend coding standard](#)


## Consistency

The pattern must be consistent with other patterns in the collection. The best way to do this is to build your pattern from existing lower level patterns.


## Usability

The pattern must meet a genuine user need and be easy to use. You will need to provide evidence that this is the case in the form of summarised user research or analytics. You can link to blog posts for more detail.


## Reuse

Patterns will be prioritised according to their reuse potential. If a pattern is only relevant to a single department it should be submitted to the departmental library.

Global patterns can also be submitted to a departmental library if you'd like to pilot them at the departmental level first. This is often a more effective approach, as we will require evidence that a pattern is working in multiple services before we accept it into the global collection.


## Non duplication

The pattern must not duplicate other patterns in the global collection. If you want to suggest an improvement to an existing pattern you can do this via a pull request on that pattern.





