---
title:		Check answers
description: Allow users to check their answers before submitting information to a service.
section:	Components
theme:		Pages
status:		Approved
department: All
---

This guide explains how to let users check their answers before submitting information to a service.

### Example

![Example of a check your answers page](check-your-answers-page.png)

There’s another [example of this page](https://github.com/alphagov/govuk_prototype_kit/blob/d10f83f2694690cb0eb03464f384bdb98922f421/app/views/examples/check-your-answers-page.html) in the [GOV.UK prototyping kit](https://github.com/alphagov/govuk_prototype_kit).


### Benefits of ‘check your answers’ pages

The main benefits of ‘check your answers’ pages are:

- increased completion rates - users feel sure the correct data has been captured so they’re less likely to drop out of a transaction before completing it
- reduced error rates - users are given a second chance to spot and correct errors before submitting data


### When to use a ‘check your answers’ page

For small to medium-sized transactions, you should have a single ‘check your answers’ page immediately before the confirmation screen.

Some very large transactions with multiple sections are trialling ‘check your answers’ pages at the end of each section. This can be especially helpful for services where different users might be completing each section.


### Make the page easy to understand

On your ‘check your answers’ page you should:

- make it clear there’s a task to perform on the page and that the transaction won’t be complete until users confirm their information is correct
- break the content up into sections when you can
- only show sections that are relevant to users - for example, if they’ve said they’re from the UK, don’t show sections for questions they haven’t answered about where they come from
- reword the questions and answers to fit your ‘check your answers’ page - for example, you don’t need to label parts of an address and you can rewrite long questions as shorter statements
- make sure the submit button fully states the action it performs, for example ‘change your tax details’ or ‘send your claim form’


### Let users go back and change their answers

You should provide a ‘Change’ link next to each section on your ‘check your answers’ page so that users can go back and add or change the information it asks for.

The answers pages should look the same way they did when the user last used them, with all their answers pre-populated.

When they’ve finished, the ‘Continue’ button should return them to the ‘check your answers’ page - they shouldn’t need to go through the rest of the transaction again.

If a user changes their response in a way that means you need to ask them more questions, do this before returning them to the ‘check your answers’ page.


### Making the page accessible

Add hidden text to the ‘Change’ links, so that they make sense when read out of context by screen readers.

For example:

````html
	<a href="/renew/name/edit">Change<span class="visually-hidden"> name</span></a>
````
