---
layout: v2
title: Design patterns
section: DWP
---

<br>
<h1>DWP design patterns</h1>

<p class="lede">The following patterns have been developed by DWP for use in their services.</p>

## Patterns for DWP services

<ul class="list list-bullet">
  <li><a href="/additemstoalist">Add items to a list</a></li>
  <li><a href="/alerts">Alerts and notifications</a></li>
  <li><a href="/bankdetails">Enter bank details</a></li>
  <li><a href="/beforeyoustart">Before you start</a></li>
  <li><a href="/declaration">Declaration</a></li>
  <li><a href="/errorpages">Error pages</a></li>
  <li><a href="/findyourgp">Find your GP</a></li>
  <li><a href="/representatives">Naming a representative</a></li>
  <li><a href="/paymentsfromabroad">Payments from abroad</a></li>
  <li><a href="/addresslookup">Search for your address</a></li>
  <li><a href="/thirdparties">Third party help</a></li>
</ul>

## Patterns for DWP staff services

<ul class="list list-bullet">
  <li><a href="/adminmenus">Admin menus</a></li>
  <li><a href="/dashboards">Dashboards</a></li>
  <li><a href="/search">Search</a></li>
  <li><a href="/showhidefilters">Show / hide filters</a></li>
  <li><a href="/todos">Listing to-dos</a></li>
</ul>