---
title: GOV.UK Design prototypes
layout: blank
---
<br>

# GOV.UK design prototypes

<p class="lede">Prototypes exploring options for publishing design tools and resources</p>

---

## [Version 3](/v3/service-toolkit)
* GOV.UK Design Patterns
* Departmental patterns are seperate departmental sites

## [Version 2](/v2/service-toolkit)
* GOV.UK Design Patterns
* Departmental patterns are seperate but part of the site

## [Version 1](/v1/service-toolkit)
* GOV.UK Design System
* Contains design principles, patterns and tools

---

## Research questions

* should navigation groups have index pages?
* if so, do people notice them?
* does the toolkit CONTAIN content, or is it just an index page?

---

