---
title: GOV.UK Design prototypes
layout: blank
---
<br>

# GOV.UK design prototypes.

<p class="lede">Prototypes exploring options for publishing design tools and resources</p>

[The source code is on GitHub](https://github.com/alphagov/govuk_design_prototypes)


## [001 - Migrate patterns out of manual](https://design-patterns.cloudapps.digital/)
- Straight migration of Service Manual patterns into tech doc format
- Everything on one page
- Production code, hosted on Gov PaaS

## [002 - Merge elements into patterns](/v5/service-toolkit)
- Merged GOV.UK Elements in to MVP1
- One pattern per page
- Enhanced left nav (highlighting, grouping, toggling)
- Prototype, not production code

## [003 - End state](/v2/service-toolkit)
- End state prototype
- All the patterns
- GOV.UK Frontend
- Departmental libraries

## [004 - HMRC navigation](/v6/service-toolkit)
- HMRC suggestions for navigation

---

# Archived prototypes

## [Version 4](/v4/service-toolkit)
* GOV.UK Design Patterns
* Departmental patterns are seperate but part of same site

## [Version 3](/v3/service-toolkit)
* GOV.UK Design Patterns
* Departmental patterns are seperate departmental sites

## [Version 2](/v2/service-toolkit)

In this version, design patterns are kept seperate from the other design resources.

Departmental pattern libraries are listed in the left navigation, but the departmental patterns themselves are linked to from an index page. 

Departmental patterns are not restricted to the same categories as the global patterns.


## [Version 1](/v1/service-toolkit)

In this version, design principles, patterns and tools are all wrapped up into a single 'design system' product.

---

## Research questions

* should navigation groups have index pages?
* if so, do people notice them?
* does the toolkit CONTAIN content, or is it just an index page?

---

