---
layout: product_page
productName: Service Toolkit
---
<% content_for :service_title do %>
  Service Toolkit
<% end %>

<% content_for :service_link, '/' %>

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Design and build government services</h1>
        <p class="hero__description">
          All you need to design, build and run services that meet government standards.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="collection">
    <h2 id="standards" class="collection__title">Standards</h2>
    <p class="collection__description">Standards for creating and running government services</p>

      <div class="grid-row">
          <div class="column-half">
            <h3 class="collection__link"><a href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a></h3>
            <p class="collection__link-description">The 18-point standard that government services must meet</p>
          </div>
          <div class="column-half">
            <h3 class="collection__link"><a href="https://www.gov.uk/service-manual">Service Manual</a></h3>
            <p class="collection__link-description">Guidance on how to research, design and build services that meet the Digital Service Standard</p>
          </div>
      </div>
      <div class="grid-row">
          <div class="column-half">
            <h3 class="collection__link"><a href="https://www.gov.uk/government/publications/technology-code-of-practice/technology-code-of-practice">Technology Code of Practice</a></h3>
            <p class="collection__link-description">The standard you must meet to get approval to spend money on technology or a service</p>
          </div>
          <div class="column-half">
            <h3 class="collection__link"><a href="https://www.gov.uk/design-principles">Design Principles</a></h3>
            <p class="collection__link-description">10 principles to guide you as you design your service</p>
          </div>
      </div>
  </div>
  <div class="collection">
    <h2 id="design-and-style" class="collection__title">Design and style</h2>
    <p class="collection__description">Interaction and content design resources</p>

      <div class="grid-row">

          <div class="column-half">
            <h3 class="collection__link"><a href="/design-patterns">GOV.UK Design patterns</a></h3>
            <p class="collection__link-description">Evidence-based solutions to common design problems</p>
          </div>

          <div class="column-half">
            <h3 class="collection__link"><a href="/prototype-kit">GOV.UK prototype kit</a></h3>
            <p class="collection__link-description">Code and templates for building realistic prototypes</p>
          </div>
      </div>
      <div class="grid-row">
          <div class="column-half">
            <h3 class="collection__link"><a href="https://www.gov.uk/guidance/style-guide">Style guide</a></h3>
            <p class="collection__link-description">Style, spelling and grammar conventions for digital content</p>
          </div>
      </div>
  </div>
  <div class="collection">
    <h2 id="components" class="collection__title">Development</h2>
    <p class="collection__description">Products for building and running government services</p>

      <div class="grid-row">
      <div class="column-half">
          <h3 class="collection__link"><a href="/frontend">GOV.UK Frontend</a></h3>
          <p class="collection__link-description">The web framework for building responsive, accessible government services</p>
        </div>
        <div class="column-half">
          <h3 class="collection__link"><a href="https://www.notifications.service.gov.uk">GOV.UK Notify</a></h3>
          <p class="collection__link-description">Keep your users updated with emails, text messages and letters, cheaply and easily</p>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-half">
          <h3 class="collection__link"><a href="https://www.payments.service.gov.uk">GOV.UK Pay</a></h3>
          <p class="collection__link-description">Take and process payments - a simple experience for users and easy integration for you</p>
        </div>
        <div class="column-half">
          <h3 class="collection__link"><a href="https://govuk-verify.cloudapps.digital">GOV.UK Verify</a></h3>
          <p class="collection__link-description">Let users prove their identity to you securely and conveniently</p>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-half">
          <h3 class="collection__link"><a href="https://www.cloud.service.gov.uk">GOV.UK Platform as a Service</a></h3>
          <p class="collection__link-description">Host your service on a government cloud platform without having to build and manage your own infrastructure</p>
        </div>
        <div class="column-half">
          <h3 class="collection__link"><a href="https://registers.cloudapps.digital">Registers</a></h3>
          <p class="collection__link-description">Get authoritative datasets your service can rely on</p>
        </div>
      </div>
  </div>
  <div class="collection">
    <h2 id="monitoring" class="collection__title">Monitoring</h2>
    <p class="collection__description">Data on service performance</p>

      <div class="grid-row">
          <div class="column-half">
            <h3 class="collection__link"><a href="https://www.gov.uk/performance">Performance Platform</a></h3>
            <p class="collection__link-description">Create a performance dashboard for your service</p>
          </div>
      </div>
  </div>
  <div class="collection">
    <h2 id="buying" class="collection__title">Buying</h2>
    <p class="collection__description">Skills and technology for building digital services</p>

      <div class="grid-row">
          <div class="column-half">
            <h3 class="collection__link"><a href="https://www.gov.uk/digital-marketplace">Digital Marketplace</a></h3>
            <p class="collection__link-description">Source cloud technology and specialist services for digital projects</p>
          </div>
      </div>
  </div>
</div>
