---
title: GOV.UK Design prototypes
layout: blank
---
<br>

# GOV.UK design prototypes

<p class="lede">Prototypes exploring options for publishing design tools and resources</p>

---

## [Version 1: GOV.UK Design System](/v1/introduction)
* Contains design principles, patterns and tools
* Uses tech-doc format

## [Version 2: GOV.UK Design Patterns](/v2/introduction)
* Contains design patterns
* Uses tech-doc format
* Departmental patterns are seperate but part of the site

## [Version 3: GOV.UK Design Patterns](/v3/introduction)
* Contains design patterns
* Uses tech-doc format
* Departmental patterns are seperate departmental sites


---

## Research questions

* should navigation groups have index pages?
* if so, do people notice them?

---

